@charset "ISO-8859-1";

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

@media (max-width: 767px) {
  .bottom-navigation{
    display: block!important;
  }
  .top-navigation{
    display: none!important;
  }
}